* {
	border: none;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 32px;
}
