root = true

[*]
charset = utf-8

# > [indent_style]: "space" causes errors with ESLint, works best with Github.
# > [indent_style]: Change to "space" to avoid extra spacing on Github.
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
