/* Reactousel styles */
div.carousel_wrapper {
    overflow: hidden;
    outline: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

div.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: all;
    transition-timing-function: ease;
}

div.carousel_item {
    min-width: 100%;
    height: 100%;
    display: flex;
}

div.carousel_control_box {
    width: max-content;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.carousel_control_box.prev {
    left: 0;
}

div.carousel_control_box.next {
    right: 0;
}

button.carousel_control,
button.carousel_control_custom {
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

button.carousel_control {
    background-color: rgba(240, 240, 240, 0.9);
    width: 40px;
    height: 40px;
}

button.carousel_control .ripple {
    background-color: rgb(187, 225, 255);
    position: absolute;
    width: 5px;
    height: 5px;
    opacity: 0;
    border-radius: 50%;
    animation: rippleEffect 0.7s 1 ease-in-out;
}

@keyframes rippleEffect {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

button.carousel_control:hover {
    background-color: rgba(100, 100, 100, 0.6);
}

button.carousel_control_custom {
    background: none;
    width: max-content;
    height: max-content;
    transform-origin: 0 100%;
}

button.carousel_control.prev,
button.carousel_control-custom.prev {
    left: 0;
}

button.carousel_control.prev {
    transform: translateX(-40px);
}

button.carousel-control-custom.prev {
    transform: translateX(-100%);
}

button.carousel_control.next,
button.carousel_control-custom.next {
    right: 0;
}

button.carousel_control.next {
    transform: translateX(40px);
}

button.carousel_control-custom.next {
    transform: translateX(100%);
}

button.carousel_control.style_default {
    height: 100%;
}

button.carousel_control.style_box {
    border-radius: 0px;
}

button.carousel_control.style_circle {
    border-radius: 50%;
}

button.carousel_control.style_transparent {
    background: none !important;
}

div.slide_indicators {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

div.slide_indicators i {
    background-color: #999;
    height: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.slide_indicators i.rounded {
    border-radius: 50px;
    width: 15px;
}

div.slide_indicators i.default {
    width: 10px;
    height: 10px;
}

div.slide_indicators i.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

div.slide_indicators i.current {
    background-color: #000;
}

.no_display {
    display: none !important;
}

.fallback_slide {
    width: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* TODO: Write styles for responsiveness */

/* Mobile Responsiveness */
@media screen and (max-width: 600px) {
}
/* End mobile Responsiveness */

/* Tablet Responsiveness */

/* End tablet responsiveness */
